@using Cooperchip.IdeiasApp.DomainCore.Extentions
@model IEnumerable<Cooperchip.IdeiasApp.Domain.Models.Ideia>

@{
    ViewData["Title"] = "Análise de Ideias";
}



<div class="row">
    <h3>Análise de Ideias</h3>

    <table class="table table-bordered table-hover">
        <thead>
            <tr class="thead-dark">
                <th>Status Ideia</th>
                <th>Concorrente?</th>
                <th>Detalhes</th>
                <th>
                    @Html.DisplayNameFor(model => model.Argumento)
                </th>
                <th>Status Análise</th>
                <th>Dt-Sub Análise</th>
                <th>Inclusao</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var statusIdeia = item.StatusIdeia.GetDescription();
                var statusAnalise = item.StatusAnalise.GetDescription();
                var dataSubAnalise = DateTime.Now.ToBrazilianDate();
                var dataInclusao = DateTime.Now.ToBrazilianDateTime();
            <tr>
                <td>@statusIdeia</td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExisteConcorrente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DetalhesConcorrente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Argumento)
                </td>
                <td>@statusAnalise</td>
                <td>@dataSubAnalise</td>
                <td>@dataInclusao</td>

                <td>
                </td>
            </tr>
            }
        </tbody>

    </table>
    <div>
        <a class="btn btn-success" asp-controller="Home" asp-action="Index">Voltar à Home</a>
    </div>
</div>
